
<% layout("/layouts/boilerplate") %>

<style>
    #filters{
        margin-top: 1rem;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .filter{
        cursor: pointer;
        text-align: center;
        margin-right: 2rem;
        margin-top: 2rem;
        opacity: 0.7;
    }
    .filter:hover{
        opacity: 1;
    }
    .filter p{
        font-size: 0.8rem;
    }
    .tax-toggle{
        margin-top: 2rem;
        margin-left: 3rem;
        padding: 0.7rem;
        border: 0.7px solid rgba(151, 147, 147, 0.514);
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tax-info{
        display: none;
    }
</style>
    
    
    <!-- <h3 class=" row mt-3">All Listings </h3> -->
    <!-- <div class="create"> no need cuz bootstrap btn added route
        <form method="GET" action="/listings/new">
            <button>New Destination?</button>
        </form>
    </div> -->
    <!--panel btns like aribnb-->
    
    <div id="filters">
      
        <div class="filter">
            <a href="/listings/category">
           <div> <i class="fa-solid fa-fire"></i></div>
            <p >Trending</p>
        </a>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-bed"></i></div>
             <p>Rooms</p>
         </div>
         <div class="filter">
            <div> <i class="fa-solid fa-mountain-city"></i></div>
             <p>Iconic Cities</p>
         </div>
         <div class="filter">
             <div><i class="fa-solid fa-mountain-sun"></i></div>
              <p>Mountains</p>
          </div>
          <div class="filter">
            <div><i class="fa-brands fa-fort-awesome"></i></div>
             <p>Castles</p>
         </div>
         <div class="filter">
             <div><i class="fa-solid fa-person-swimming"></i></div>
              <p>Amazing Pools</p>
          </div>
          <div class="filter">
            <div><i class="fa-solid fa-tents"></i></div>
             <p>Camping</p>
         </div>
         <div class="filter">
           <div><i class="fa-solid fa-tractor"></i></div>
            <p>Farms</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-snowflake"></i></div>
             <p>Arctic</p>
         </div>
         <div class="filter">
            <div><i class="fa-solid fa-house-chimney-window"></i></div>
             <p>Domes</p>
         </div>
         <div class="filter">
           <div><i class="fa-solid fa-ferry"></i></div>
            <p>Boats</p>
        </div>
  
  

         <div class="tax-toggle ms-auto">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Display price after taxes</label>
              </div>
              
         </div>
    </div>


    <!-- encoding our entire card in anchor tag to redirect show.ejs onclick -->

    <div class="row mt-4 row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
        <% for(let list of allList){ %>
            <a href="/listings/<%= list.id %>" style="text-decoration: none;"> 
            <div class="card card-index" style="width: 20rem;">
               <img src="<%= list.image.url %>" class="card-img-top" alt="<%= list.image.filename %>" style="height: 20rem;" />
               
                <div class="card-img-overlay"> <!--for hover effect overlay- adding style on img-top -->
                  <h5 class="card-title"> </h5>
                  <p class="card-text"></p>
                  <p class="card-text"><small></small></p>
                </div>
        
               
               <div class="card-body">
                   <p class="card-text">
                    <b><%= list.title %></b> <br>
                       &#8377; <%= list.price.toLocaleString("en-IN") %> /night
                     <i class="tax-info"> +18% GST</i>
                    </p>
               </div>
           </div>
        </a>
           <% } %>

    </div>

    
    
   

<!-- <ul>
    for(let list of allList){ 
        <li><a href="/listings/ list.id"> list.title %></a></li> <br>
        } 
    </ul> -->